/* Font and color styles */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b3740;
  display: flex;
  gap: 80px;
}

@font-face {
  font-family: "PaytoneOne";
  src: url("fonts/PaytoneOne.woff");
}

@font-face {
  font-family: "Comfortaa";
  src: url("fonts/Comfortaa-Regular.woff");
}

h1,
h2,
h3 {
  font-family: PaytoneOne;
}

p {
  font-family: Comfortaa;
  font-size: 18px;
  line-height: 150%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 18px;
}

.white {
  color: #ffffff;
}

.light-blue {
  color: #15ede7;
}

.gray {
  color: #c5caca;
}

.dark-green {
  background-color: #006408;
}

.dark-blue {
  background-color: #065e7b;
}

/* Desktop styles */

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  max-width: 1192px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

/* Header styles */

#header {
  align-items: center;
  margin-top: 32px;
}

.logo {
  grid-column: 1/3;
  width: 100%;
}

.div-header {
  grid-column: 3/13;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.div-titles {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/* Find-cat styles */

#find-cat {
  align-items: center;
}

.div-title {
  width: 100%;
  grid-column: 1/7;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.div-title h2 {
  width: 70%;
}

h2 {
  position: absolute;
}

.cloud {
  width: 100%;
}

.div-buttons {
  grid-column: 7/13;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

button {
  width: max-content;
  padding: 20px 16px;
  border: none;
  border-radius: 40px;
  font-family: Comfortaa;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.button-selected {
  background-color: #32ccff;
  color: #000000;
}

/* Show-cat-zodia styles */

#show-cat-zodia {
  justify-content: center;
}

.div-header3 {
  grid-column: 1/5;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.div-buttons-zodia {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.cat-image {
  grid-column: 5/9;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: none;
  border-radius: 32px;
  object-fit: cover;
}

.image-description {
  grid-column: 9/13;
  width: 100%;
  display: none;
}

/* Show-cat-date styles */

#show-cat-date {
  justify-content: center;
}

.input-date {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0px 20px 0px;
  padding-left: 16px;
  border: none;
  border-radius: 40px;
  font-family: Comfortaa;
}

.input-date::placeholder {
  color: #ffffff;
  opacity: 70%;
}

.recent-title {
  font-size: 16px;
}

.delete-history-button {
  padding: 10px 14px;
}

.recent-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recent-item {
  font-size: 16px;
}

/* Footer styles */

.footer {
  grid-column: 1/13;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
