/* Font and color styles */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b3740;
  display: flex;
  gap: 80px;
}

@font-face {
  font-family: "PaytoneOne";
  src: url("fonts/PaytoneOne.woff");
}

@font-face {
  font-family: "Comfortaa";
  src: url("fonts/Comfortaa-Regular.woff");
}

h1,
h2,
h3 {
  font-family: PaytoneOne;
}

p {
  font-family: Comfortaa;
  font-size: 18px;
  line-height: 150%;
}

.white {
  color: #ffffff;
}

.light-blue {
  color: #15ede7;
}

.gray {
  color: #c5caca;
}

.dark-green {
  background-color: #006408;
}

.dark-blue {
  background-color: #065e7b;
}

/* Desktop styles */

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  max-width: 1192px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

/* Header styles */

#header {
  align-items: center;
  margin-top: 32px;
}

.logo {
  grid-column: 1/3;
  width: 100%;
}

.div-header {
  grid-column: 3/13;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.div-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/* Find-cat styles */

#find-cat {
  align-items: center;
}

.div-title {
  width: 100%;
  grid-column: 1/5;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h2 {
  position: absolute;
}

.cloud {
  width: 100%;
}

.div-buttons {
  grid-column: 5/13;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

button {
  width: max-content;
  padding: 20px 16px;
  border: none;
  border-radius: 40px;
  font-family: Comfortaa;
}

/* Footer styles */

.footer {
  grid-column: 1/13;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
